<template>
  <div class="calendar">
    <DateChanger v-model="selectedDate" :currentDate="currentDate" />
    <DateTable v-bind="{ selectedDate, currentDate, events: monthEvents }" />
  </div>
</template>

<script>
import moment from 'moment';
import DateChanger from './date/DateChanger.vue'
import DateTable from './table/DateTable.vue'
/**
 * * Копмпонент календаря
 */
export default {
  components: { DateChanger, DateTable },
  props: {
    events: {
      type: Array,
      default: () => [],
    }
  },
  data () {
    const currentDate = new Date();
    return {
      currentDate, // Текущая дата
      selectedDate: moment(currentDate).startOf('month'), // Выбранная дата
    };
  },
  computed: {
    monthEvents () {
      return this.events.filter((event) => {
        return moment(event.date).isSame(this.selectedDate, 'month')
      });
    },
  }
}
</script>

<style scoped>
.calendar {
  --color-secondary: #fff;

  display: flex;
  flex-direction: column;
  margin: 24px;
  padding: 24px;
  border-radius: 24px;

  background-color: var(--color-secondary);
}
</style>