<template>
  <div class="date-changer">
    <button class="date-changer__arrow" @click="decrement">&lt;</button>
    <span class="date-changer__title">{{ month }}</span>
    <button class="date-changer__arrow" @click="increment">&gt;</button>
  </div>
</template>

<script>
/**
 * * Компонент изменения выбранного месяца
 */
export default {
  emits: ['update:modelValue'],
  props: {
    modelValue: {
      type: Object,
      required: true,
    },
    currentDate: {
      type: Object,
      required: true,
    }
  },
  computed: {
    // Текущий месяц
    month () {
      const isSame = this.modelValue.isSame(this.currentDate, 'year');
      let formatter = isSame ? 'MMMM' : 'MMMM yy';
      return this.modelValue.format(formatter);
    }
  },
  methods: {
    onChange (value) {
      this.$emit('update:modelValue', value)
    },
    increment () {
      const newValue = this.modelValue.clone();
      newValue.add(1, 'month');
      this.onChange(newValue);
    },
    decrement () {
      const newValue = this.modelValue.clone();
      newValue.subtract(1, 'month');
      this.onChange(newValue);
    },
  }
}
</script>

<style scoped>
.date-changer {
  color: blue;
}

.date-changer__title {
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  letter-spacing: -1px;
  width: 100px;
}

.date-changer__arrow {
  border: none;
  background-color: #fff;
}

.date-changer__arrow:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.date-changer__arrow:active {
  background-color: #e2e2e2;
}
</style>