<template>
  <CalendarComponent :events="calendarEvents" />
</template>

<script>
import moment from 'moment';
import CalendarComponent from '@/components/calendar/CalendarComponent.vue';
import { calendarEvents } from '@/mocks/events.js';
moment.locale('ru');

export default {
  name: 'App',
  components: { CalendarComponent },
  data () {
    return {
      calendarEvents
    };
  }
}
</script>

<style>
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background-color: #c2c2c2;
  margin-top: 60px;
}
#app {
  margin: 0 auto;
  width: 50vw;
}
</style>
