<template>
  <li class="day-badge">
    <div :class="['day-badge_inner', modificator]">
      {{ dateFormatted }} {{ message }}
    </div>
  </li>
</template>

<script>
import moment from 'moment';
/**
 * * Компонент бейджа
 */
export default {
  props: {
    message: {
      type: String,
      required: true,
    },
    type: {
      type: String,
      default: 'red',
    },
    date: {
      type: Object,
      required: true,
    }
  },
  computed: {
    /**
     * * Отформатированная дата события
     */
    dateFormatted () {
      return moment(this.date).format('HH:mm')
    },
    modificator () {
      switch(this.type) {
        case 'red':
          return 'day-badge__red'
        case 'green':
          return 'day-badge__green'
        case 'orange':
          return 'day-badge__orange'
        default:
          return 'day-badge__red'
      }
    }
  }
}
</script>
<style scoped>
.day-badge {
  height: 22px;
}

.day-badge_inner {
  border-radius: 8px;
  font-weight: normal;
  padding: 4px 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.day-badge_inner:hover {
  position: absolute;
  cursor: pointer;
}

.day-badge__green {
  background-color: #85c685;
  color: #1a5e1a;
}

.day-badge__red {
  background-color: #e16080;
  color: #832940;
}

.day-badge__orange {
  background-color: #fcecd0;
  color: #856840;
}
</style>
