<template>
  <ul class="day-badges">
    <slot />
  </ul>
</template>

<style scoped>
.day-badges {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 2px;
}
</style>