<template>
  <div class="date-table">
    <DateTitles />
    <DateDays>
      <DateDay
        v-for="item in daysInMonth"
        :key="item.index"
        v-bind="item"
      />
    </DateDays>
  </div>
</template>

<script>
import moment from 'moment';
import DateTitles from './DateTitles.vue';
import DateDays from './DateDays.vue';
import DateDay from './DateDay.vue';
/**
 * * Таблица дат
 */
export default {
  components: { DateTitles, DateDays, DateDay },
  props: {
    events: {
      type: Array,
      default: () => [],
    }, // События в календаре
    selectedDate: {
      type: Object,
      required: true,
    }, // Выбранная дата
    currentDate: {
      type: Object,
      required: true,
    }, // Текущая дата
  },
  computed: {
    /**
     * * Все дни месяца на странице
     */
    daysInMonth () {
      /**
       * * Все дни
       */
      const currentMonthDates = new Array(this.selectedDate.daysInMonth())
        .fill(null)
        .map((x, i) => this.selectedDate.clone().startOf('month').add(i, 'days'));
      
      /**
       * * День недели первого дня месяца
       */
      const firstDayOfMonth = currentMonthDates[0].day();
      /**
       * * Заполняем "пустоты" из предыдущего месяца
       */
      if (firstDayOfMonth !== 1) {
        const count = firstDayOfMonth === 0 ? 6 : firstDayOfMonth - 1;
        const previousDaysOfMonth = new Array(count)
          .fill(null)
          .map(
            (_, i) => this.selectedDate
              .clone()
              .startOf('month')
              .subtract(i + 1, 'day')
          ).reverse();
        currentMonthDates.unshift(...previousDaysOfMonth);
      }

      const lastDayOfMonth = currentMonthDates[currentMonthDates.length - 1];
      const lastDateOfMonthValue = lastDayOfMonth.day();

      /**
       * * Заполняем "пустоты" следующего месяца
       */
      if(lastDateOfMonthValue !== 0) {
        const count = 7 - lastDateOfMonthValue;
        const nextDaysOfMonth = new Array(count)
          .fill(null)
          .map(
            (_, i) => lastDayOfMonth
            .clone()
            .add(i + 1, 'day')
          );
        currentMonthDates.push(...nextDaysOfMonth);
      }

      return currentMonthDates.map((item, index) => {
        const events = this.events.filter((event) => moment(event.date).isSame(item, 'day'));
        const day = item.day();
        const currentDate = this.currentDate;
        return {
          index,
          events,
          day: item.date(), // День месяца
          isHoliday: day === 6 || day === 0, // Выходной
          isOutdated: item.isBefore(currentDate, 'day'), // Дата уже прошла
          isCurrent: item.isSame(currentDate, 'day'),
        };
      });
    }
  },
}
</script>
<style scoped>
.date-table {
  padding: 0 12px;
}
</style>