<template>
  <div  
    class="date-day"
    :class="{
      'date-day__holiday': isHoliday,
      'date-day__outdated': isOutdated,
      'date-day__current': isCurrent,
    }"
  >
    <span class="date-day__title">{{ day }}</span>
    <DayBadges v-if="events.length !== 0">
      <DayBadge
        v-for="event in events"
        :key="event.id"
        :message="event.name"
        :type="event.type"
        :date="event.date"
      />
    </DayBadges>
  </div>
</template>

<script>
import DayBadges from './badges/DayBadges.vue'
import DayBadge from './badges/DayBadge.vue'
/**
 * * Компонент дня в таблице
 */
export default {
  components: { DayBadges, DayBadge },
  props: {
    day: {
      type: Number,
      required: true,
    },
    /**
     * * День выходной
     */
    isHoliday: {
      type: Boolean,
      default: false,
    },
    /**
     * * Уже прошедшая дата
     */
    isOutdated: {
      type: Boolean,
      default: false,
    },
    /**
     * * Текущая дата
     */
    isCurrent: {
      type: Boolean,
      default: false,
    },
    /**
     * * События
     */
    events: {
      type: Array,
      default: () => {},
    }
  }
}
</script>
<style scoped>
.date-day {
  min-height: 100px;
  padding: 8px;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
  text-align: right;
  font-weight: 800;
  overflow: hidden;
}

.date-day.date-day__holiday .date-day__title {
  color: #acb3c9;
}

.date-day.date-day__outdated {
  background-color: #ececec;
  color: #acb3c9;
}

.date-day.date-day__current {
  border: 1px solid #c2c2c2;
}

.date-day.date-day__current .date-day__title {
  color: #147714;
}

</style>