<template>
  <div class="date-days">
    <slot />
  </div>
</template>

<script>
/**
 * * Компонент сетки дней
 */
export default {
  
}
</script>

<style scoped>
.date-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}
</style>
