<template>
  <ol class="date-titles">
    <li
      v-for="(weekday, index) in weekdays"
      :key="index"
      class="date-titles__title"
    >
      {{ weekday }}
    </li>
  </ol>
</template>

<script>
import moment from 'moment';

/**
 * * Наименование дней недели
 */
export default {
  data () {
    const weekdays = moment.weekdays();
    const sunday = weekdays.shift();
    weekdays.push(sunday);
    return {
      weekdays
    };
  },
}
</script>

<style scoped>
.date-titles {
  display: grid;
  padding: 0;
  margin: 12px 0;
  list-style-type: none;
  text-align: right;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  grid-template-columns: repeat(7, 1fr);
}

.date-titles li:nth-child(6) {
  color: #acb3c9;
}
.date-titles li:nth-child(7) {
  color: #acb3c9;
}
</style>